/shelf/
/workspace.xml
#editor-based HTTP Client requests
/httpRequests/
#datasource local storage ignored
/dataSources/
/dataSources.local.xml
#ignorar a pasta de dependências do Node.js
node_modules/
#ignorar arquivos de ambiente (para senhas e chaves de API no futuro)
.env
#arquivos de log
*.log
#arquivo do banco
reutiliza-backend/.env
#script de importar banco
reutiliza-backend/seed.js