# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar a pasta de dependências do Node.js
node_modules/
# Ignorar arquivos de ambiente (para senhas e chaves de API no futuro)
.env
# Arquivos de log
*.log
#Arquivo do banco
reutiliza-backend/.env